* mateusz.kasprzak@tm1.edu.pl

/.github/* krzysztof.jurkowski@tm1.edu.pl

/assets/** michal.wojtowicz@tm1.edu.pl

/_config.yml krzysztof.jurkowski@tm1.edu.pl
/.gitignore krzysztof.jurkowski@tm1.edu.pl
/Gemfile krzysztof.jurkowski@tm1.edu.pl

/index.md szymon.marynowski@tm1.edu.pl
/konstytucja3maja.md michal.wojtowicz@tm1.edu.pl
/konstytucjaAmerykanska.md mateusz.kasprzak@tm1.edu.pl
/konstytucjaFrancuska.md krzysztof.jurkowski@tm1.edu.pl

/README.md @krzysztof.jurkowski@tm1.edu.pl